body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e7ebec96;
}

H1 {
    align-items: first baseline;
}

.stopwatch {
    text-align: center;
    background-color: rgb(226, 23, 16);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(248, 246, 246, 0.2);
}

.time {
    font-size: 2rem;
    margin-bottom: 10px;
    color: blue;
}

button {
    font-size: 1rem;
    padding: 5px 10px;
    margin: 55px;
    cursor: pointer;
}
